
<div style="margin: 10px">   
    <h1>Add New Image</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_label(form.data) }}
            {{ form_widget(form.data) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="Upload..." class="btn btn-primary" />
        </div>
    </div>

    {{ form_end(form) }}
</div>
