{% set settings = getsetting() %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Gurjeet Singh, Ludhiana">
        <meta name="robots" content="index, follow, all" />
        <title>{% block title %}Webiste{% endblock %}</title>
        <meta name="description" content="{% block description %}Webiste{% endblock %}">
        <meta name="keywords" content="{% block keywords %}Webiste{% endblock %}">
                {{ encore_entry_link_tags('app') }}

        <link href="https://fonts.googleapis.com/css?family=Anton|Baloo+Paaji|Hind|Kalam|Khand|Mukta+Mahee|Noto+Sans|Rajdhani|Ubuntu|Yantramanav" rel="stylesheet" media="nope!" onload="this.media = 'all'">

        <link rel="stylesheet" type="text/css" href="{{path('css')}}" media="nope!" onload="this.media = 'all'">
        {% block opengraph %} {% endblock %}
        {% block css %}{% endblock %}
        {{settings.headers|raw}}
    </head>
    <body>
        <!-- Navigation -->
        {{render(controller('App\\Controller\\DefaultController:navAction'))}}

        {% block header %}
            <!-- space for header -->
        {% endblock %}
        <!-- Page Content -->
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; {{settings.header_line_1}}, {{"now"|date('Y')}}</p>
            </div>
            <!-- /.container -->
        </footer>
            
                  {{ encore_entry_script_tags('app') }}
        <script>
            $(document).ready(function () {

                $('.customer-logos').slick({
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 1500,
                    arrows: false,
                    dots: false,
                    pauseOnHover: false,
                    responsive: [{
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 4
                            }
                        }, {
                            breakpoint: 520,
                            settings: {
                                slidesToShow: 3
                            }
                        }]
                });
            });

            $('#megaMenuBtn').on('click', function (e) {
                $('#megaMenu').modal('toggle');
            });
        </script>
    </body>
</html>
