{% set settings = getsetting() %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Gurjeet Singh, Ludhiana">
        <meta name="robots" content="index, follow, all" />
        <title>{% block title %}Webiste{% endblock %}</title>
        <meta name="description" content="{% block description %}Webiste{% endblock %}">
        <meta name="keywords" content="{% block keywords %}Webiste{% endblock %}">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{asset('bundles/app/admin/')}}node_modules/font-awesome/css/font-awesome.min.css" />
        <link href="{{asset('bundles/app/business')}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Anton|Baloo+Paaji|Hind|Kalam|Khand|Mukta+Mahee|Noto+Sans|Rajdhani|Ubuntu|Yantramanav" rel="stylesheet">
        <link href="{{asset('bundles/app/business')}}/css/modern-business.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{path('css')}}">
        {% block opengraph %} {% endblock %}
        {{settings.headers|raw}}
    </head>
    <body>
        <!-- Navigation -->
        {{render(controller('App\\Controller\\DefaultController:navAction'))}}
        {% block header %}
            <!-- space for header -->
        {% endblock %}
        <!-- Page Content -->
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; {{settings.header_line_1}}, {{"now"|date('Y')}}</p>
            </div>
            <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="{{asset('bundles/app/business')}}/vendor/jquery/jquery.min.js"></script>
        <script src="{{asset('bundles/app/business')}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script>
            $('#megaMenuBtn').on('click', function (e) {
                $('#megaMenu').modal('toggle');
            });
        </script>
    </body>
</html>
