{% extends "business/base.html.twig" %}
{% block title %}{{home.title}}{% endblock %}
{% block description %}{{home.description}}{% endblock %}
{% block keywords %}{{home.keywords}}{% endblock %}
{% block opengraph %}
    <meta property="og:title" content="{{home.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url('homepage')}}" />
{% endblock %}
{% block body %}
    {#        <h1 class="my-4">{{home.title}}</h1>#}
    <p>{{body|raw}}</p>

    <div class="row">
        {% for section in sections %}
            <div class="col-sm-4 text-center">
                <img class="rounded-circle" src="{{path('section_image',{'id':section.id,'size':140,'name':section.fileName})}}" alt="{{section.header}}" width="140" height="140">
                <h2>{{section.header}}</h2>
                <p>{{section.body}}</p>
                <p><a class="btn btn-primary" href="{{section.url}}" role="button">View details »</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}



{% block header %}
    {% if settings.home_header == 'slider' %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% set X = 0 %}
                {% for s in scroller %}
                    {% if X == 0 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{X}}" class="active"></li>
                        {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{X}}"></li>
                        {% endif %}
                        {% set X = X+1 %}
                    {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide -->
                {% set X = 0 %}
                {% for s in scroller %}
                    {% if X == 0 %}
                        {% set active = 'active' %}
                    {% else %}
                        {% set active = '' %}
                    {% endif %}
                    <div class="carousel-item {{active}}" style="background-image: url('{{path('scroller_image',{'id':s.id,'name':'img.img'})}}')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>{{s.header}}</h3>
                            <p>{{s.description}}</p>
                        </div>
                    </div>
                    {% set X = X+1 %}
                {% endfor %}
                <!-- Slide -->

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    {% endif %}
        {% endblock %}