{% spaceless %}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}
            {% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            {#<link rel="stylesheet" href="{{asset('')}}/bundles/app/style.css">#}
            <link rel="stylesheet" type="text/css" href="{{path('css')}}">
        </head>
        <body>
            <main role="main">
                <div class="container">
                    <header>
                        <div class="row">
                            <div class="col-3">
                                <img src="{{asset('')}}/bundles/app/logos/arash_logo_png.png">
                            </div>
                            <div class="col-9 text-right">
                                <h3>Arash Info Corporation</h3>
                                Call: 9814790299, Email: info@arashinfo.com
                            </div>
                        </div>
                    </header>
                </div>
                <div class="container">
                    {{render(controller('AppBundle:Default:nav'))}}
                </div>
                <div class="container">
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
            <footer class="container">
                <p>&copy; Company 2017</p>
            </footer>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            {% block javascripts %}
            {% endblock %}
        </body>
    </html>
{%endspaceless%}
