
{% set pageFontLinks = getPageFont(pageSections) %}
{% for f in pageFontLinks %}
    <link href="{{ f.url }}" rel="stylesheet">
{% endfor %}
{% for p in pageSections  %}
    {% if p.backgroundContainment == 'container' %}
        <div class="container  my-page-section {% if p.type == 'banner' %}no-margin-banner{% endif %}" style="color: {{ p.textColor|raw }}; background-color: {{ p.backgroundColor|raw }}">
        {% else %}
            <div class="container-fluid my-page-section {% if p.type == 'banner' %}no-margin-banner{% endif %}"  style="color: {{ p.textColor|raw }}; background-color: {{ p.backgroundColor|raw }}">
            {% endif %}
            {% set contentPaddingStyle = "padding-top:"~p.contentPaddingTop~"px;padding-bottom:"~p.contentPaddingBottom~"px;padding-right:"~p.contentPaddingRight~"px;padding-left:"~p.contentPaddingLeft~"px;" %}
            {% if p.titleAnimation != 'none' %}
                {% set titleAnimation = "uk-scrollspy='cls: "~p.titleAnimation|raw~"; repeat: false'" %}
            {% else %}
                {% set titleAnimation = "" %}
            {% endif %}
            {% if p.contentAnimation != 'none' %}
                {% set contentAnimation = "uk-scrollspy='cls: "~p.contentAnimation|raw~"; repeat: false'" %}
            {% else %}
                {% set contentAnimation = "" %}
            {% endif %}
            {% set titleFont = '' %}
            {% if p.titleFont %}
                {% if p.titleFont.name  != 'default'%}
                    {% set titleFont = "font-family: "~p.titleFont.familyName~";" %}
                {% endif %}
            {% endif %}
            {% set contentFont = '' %}
            {% if p.contentFont %}
                {% if p.contentFont.name  != 'default'%}
                    {% set contentFont = "font-family: "~p.contentFont.familyName~";" %}
                {% endif %}
            {% endif %}
            {% if p.contentContainment == 'container' %}
                {% if p.backgroundContainment != 'container' %}
                    <div class="container">
                    {% else %}
                        <div>
                        {% endif %}
                    {% else %}
                        <div>
                        {% endif %}
                        <div style="{{ contentPaddingStyle }}">
                            {% if p.type == 'simple' %}
                                {% if p.headerIcon %}
                                    <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                        {{ p.headerIcon|raw }}
                                    </div>
                                {% endif %}
                                <h2 {{ titleAnimation|raw }} style="{{ titleFont|raw }} color: {{ p.titleColor|raw }}" class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                                <p {{ contentAnimation|raw }} style="{{ contentFont|raw }}" class="{% if p.alignContent == 'center' %}text-center{% endif %}">{{ p.content }}</p>   
                            {% endif %}
                            {% if p.type == 'html-section' %}
                                {% if p.headerIcon %}
                                    <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                        {{ p.headerIcon|raw }}
                                    </div>
                                {% endif %}
                                <h2 {{ titleAnimation|raw }} style="{{ titleFont|raw }} color: {{ p.titleColor|raw }}" class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                                <p {{ contentAnimation|raw }} style="{{ contentFont|raw }}" class="{% if p.alignContent == 'center' %}text-center{% endif %}">{{ p.content|raw }}</p>   
                            {% endif %}
                            {% if p.type == 'image-right' %}
                                <div class="row">
                                    <div class="col-sm-8">
                                        {% if p.headerIcon %}
                                            <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                                {{ p.headerIcon|raw }}
                                            </div>
                                        {% endif %}
                                        <h2 {{ titleAnimation|raw }} style="{{ titleFont|raw }}color: {{ p.titleColor|raw }}" class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                                        <p {{ contentAnimation|raw }} style="{{ contentFont|raw }}" class="{% if p.alignContent == 'center' %}text-center{% endif %}">{{ p.content }}</p>   
                                    </div>
                                    <div class="col-sm-4">
                                        <img uk-img class="page-section-image" src="{{ path('page_section_image',{'id':p.id,'name':p.imageFileName}) }}">
                                    </div>
                                </div>
                            {% endif %}
                            {% if p.type == 'image-left' %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img uk-img class="page-section-image" src="{{ path('page_section_image',{'id':p.id,'name':p.imageFileName}) }}">
                                    </div>
                                    <div class="col-sm-8">
                                        {% if p.headerIcon %}
                                            <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                                {{ p.headerIcon|raw }}
                                            </div>
                                        {% endif %}
                                        <h2 {{ titleAnimation|raw }} style="{{ titleFont|raw }}color: {{ p.titleColor|raw }}" class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                                        <p {{ contentAnimation|raw }} class="{% if p.alignContent == 'center' %}text-center{% endif %}" style="{{ contentFont|raw }}">{{ p.content }}</p>   
                                    </div>
                                </div>
                            {% endif %}
                            {% if p.type == 'scroller' %}
                                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="{% if p.sliderRatio %}ratio: {{ p.sliderRatio|raw }};{% endif %} autoplay: true;">
                                    <ul class="uk-slideshow-items">
                                        {% set scrollerImages = getPageSectionImages(p) %}
                                        {% for i in scrollerImages %}
                                            <li>
                                                <img src="{{ path('page_section_images',{'id':i.id,'name':i.fileName}) }}" alt="" uk-cover>
                                                {% if i.showTitle == 'yes' or i.showDescription == 'yes' %}
                                                    <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"></div>
                                                    <div class="uk-position-center uk-position-medium uk-text-center">
                                                        <div uk-slideshow-parallax="scale: 1,1,0.8">
                                                            {% if i.showTitle == 'yes' %}
                                                                <h2 uk-slideshow-parallax="x: 200,0,0" style="{% if i.titleColor %}color: {{ i.titleColor|raw }};{% endif %}">{{ i.title }}</h2>
                                                            {% endif %}
                                                            {% if i.showDescription == 'yes' %}
                                                                <p uk-slideshow-parallax="x: 400,0,0;" style="{% if i.descriptionColor %}color: {{ i.descriptionColor|raw }};{% endif %}">{{ i.description }}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                                </div>
                            {% endif %}
                            {% if p.type == 'banner' %}
                                <section class="showcase">
                                    <img src="{{ path('page_section_image',{'id':p.id,'name':p.imageFileName}) }}" alt="Picture">
                                    {% set rgb = hextoRGB(p.backgroundColor) %}
                                    <div class="overlay" style="background-color: rgb({{rgb.r}},{{rgb.g}},{{rgb.b}},{% if p.bannerOpacity == 'none' %}0{% endif %}{% if p.bannerOpacity == 'low' %}0.3{% endif %}{% if p.bannerOpacity == 'high' %}0.5{% endif %});">
                                        <h2 {{ titleAnimation|raw }} style="{{ titleFont|raw }}color: {{ p.titleColor|raw }}">{{ p.title }}</h2>
                                        <p {{ contentAnimation|raw }} style="{{ contentFont|raw }}">{{ p.content }}</p>
                                    </div>
                                </section>
                            {% endif %}
                            {% if p.type == 'youtube-section' %}
                                {% if p.headerIcon %}
                                    <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                        {{ p.headerIcon|raw }}
                                    </div>
                                {% endif %}
                                <h2 {{ titleAnimation|raw }} style="{{ titleFont|raw }}color: {{ p.titleColor|raw }}" class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                                <p {{ contentAnimation|raw }} style="{{ contentFont|raw }}" class="{% if p.alignContent == 'center' %}text-center{% endif %}">{{ p.content }}</p>   
                                {% if p.youtubeUrls %}
                                    <iframe style="width: 100%; height: 500px" src="https://www.youtube.com/embed/{{ p.youtubeUrls|getYtId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    {% endif %}
                                {% endif %}

                            {#                        PageSection ContentPadding div#}
                        </div>

                        {#            Container Content#}
                    </div>
                    {#Container bg       #}
                </div>
            </div>
        {% endfor %}