{% for p in pageSections  %}
    {% if p.backgroundContainment == 'container' %}
        <div class="container  my-page-section {% if p.type == 'banner' %}no-margin{% endif %}" style="color: {{ p.textColor|raw }}; background-color: {{ p.backgroundColor|raw }}">
        {% else %}
            <div class="container-fluid my-page-section {% if p.type == 'banner' %}no-margin{% endif %}"  style="color: {{ p.textColor|raw }}; background-color: {{ p.backgroundColor|raw }}">
            {% endif %}

            {% if p.contentContainment == 'container' %}
                {% if p.backgroundContainment != 'container' %}
                    <div class="container">
                    {% else %}
                        <div>
                        {% endif %}
                    {% else %}
                        <div>
                        {% endif %}

                        {% if p.type == 'simple' %}
                            {% if p.headerIcon %}
                                <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                    {{ p.headerIcon|raw }}
                                </div>
                            {% endif %}
                            <h2 class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                            <p class="{% if p.alignContent == 'center' %}text-center{% endif %}">{{ p.content }}</p>   
                        {% endif %}
                        {% if p.type == 'image-right' %}
                            <div class="row">
                                <div class="col-sm-8">
                                    {% if p.headerIcon %}
                                        <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                            {{ p.headerIcon|raw }}
                                        </div>
                                    {% endif %}
                                    <h2 class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                                    <p class="{% if p.alignContent == 'center' %}text-center{% endif %}">{{ p.content }}</p>   
                                </div>
                                <div class="col-sm-4">
                                    <img class="page-section-image" src="{{ path('page_section_image',{'id':p.id,'name':p.imageFileName}) }}">
                                </div>
                            </div>
                        {% endif %}
                        {% if p.type == 'image-left' %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="page-section-image" src="{{ path('page_section_image',{'id':p.id,'name':p.imageFileName}) }}">
                                </div>
                                <div class="col-sm-8">
                                    {% if p.headerIcon %}
                                        <div class="text-center fa-3x" style="color: {{p.headerIconColor|raw}}">
                                            {{ p.headerIcon|raw }}
                                        </div>
                                    {% endif %}
                                    <h2 class="{% if p.alignTitle == 'center' %}text-center{% endif %}">{{ p.title }}</h2>   
                                    <p class="{% if p.alignContent == 'center' %}text-center{% endif %}">{{ p.content }}</p>   
                                </div>
                            </div>
                        {% endif %}
                        {% if p.type == 'scroller' %}
                            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
                                <ul class="uk-slideshow-items">
                                    {% set scrollerImages = getPageSectionImages(p) %}
                                    {% for i in scrollerImages %}
                                        <li>
                                            <img src="{{ path('page_section_images',{'id':i.id,'name':i.fileName}) }}" alt="" uk-cover>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                            </div>
                        {% endif %}
                        {% if p.type == 'banner' %}
                            <section class="showcase">
                                <img src="{{ path('page_section_image',{'id':p.id,'name':p.imageFileName}) }}" alt="Picture">
                                <div class="overlay">
                                    <h2>{{ p.title }}</h2>
                                    <p>{{ p.content }}</p>
                                </div>
                            </section>
                        {% endif %}
                        {#            Container Content#}
                    </div>
                    {#Container bg       #}
                </div>
                  </div>
            {% endfor %}