<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Arashinfo Pvt. Ltd{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ encore_entry_link_tags('admin') }}

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
        {% block stylesheet %}
        {% endblock %}
        <style>
            .sidebar a {
                color: #88a7dd !importent;
            }
        </style>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-warning navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                </ul>

                <!-- SEARCH FORM -->


                <!-- Right navbar links -->

            </nav>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-white-primary elevation-4">
                <!-- Brand Logo -->
                <a href="index3.html" class="brand-link">
                    <img src="{{ asset('bundles/app/MyAdmin/') }}dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">Arash Info</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    {#                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                            <div class="image">
                                                <i class="fas fa-user fa-2x text-white"></i>
                                            </div>
                                            <div class="info">
                                                <a href="#" class="d-block">Super Admin</a>
                                            </div>
                                        </div>#}
                    {% include 'admin/adminNav.html.twig' %}
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {# <div class="content-header">
                     <div class="container-fluid">
                         <div class="row mb-2">
                             <div class="col-sm-6">
                                 <h1 class="m-0 text-dark">Dashboard</h1>
                             </div><!-- /.col -->
                             <div class="col-sm-6">
                                 <ol class="breadcrumb float-sm-right">
                                     <li class="breadcrumb-item"><a href="#">Home</a></li>
                                     <li class="breadcrumb-item active">Dashboard v1</li>
                                 </ol>
                             </div><!-- /.col -->
                         </div><!-- /.row -->
                     </div><!-- /.container-fluid -->
                 </div>#}
                <div class="container">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <div class="modal fade" id="aic-large-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body" id="aic-large-modal-window-body"></div>
                    </div> 
                </div>

            </div>
            <div class="modal fade" id="aic-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-content" id="aic-modal-window-body">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body" id="aic-modal-window-body"></div>
                        </div>
                    </div>                        
                </div>                
            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Developed by <a href="https://arashinfo.com/p.5.contact-us.html" title="Mobile: 9814790299">Arash Info Pvt. Ltd.</a></strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->



    {{ encore_entry_script_tags('admin') }}
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script>
        $('body').on("click", ".aic-show-large-modal", function (ev) {

            var url = $(this).data('href');
            jQuery.ajax({
                url: url,
                type: 'POST',
                cache: false,
                global: false,
                success: function (response) {
                    $('#aic-large-modal-window-body').html(response);
                    $('#aic-large-modal-window').modal('show');
                }
            });
        });

        $('body').on("click", ".aic-show-modal", function (ev) {

            var url = $(this).data('href');
            jQuery.ajax({
                url: url,
                type: 'POST',
                cache: false,
                global: false,
                success: function (response) {
                    $('#aic-modal-window-body').html(response);
                    $('#aic-modal-window').modal('show');
                }
            });
        });
    </script>
    <script type="text/javascript">
        $('#fySelect').on('change', function () {
            var id = $('#fySelect').val();
            var URL = Routing.generate('myadmin_fychange', {'id': id});
            window.location = URL;
        });
        $('.linkBtn').on('click', function () {
            var url = $(this).data('href');
            window.location = url;

        })
    </script>

    {% block javascripts %}
    {% endblock %}
</body>
</html>
