{% set current_path = app.request.get('_route') %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('bundles/app/admin/')}}node_modules/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{asset('bundles/app/admin/')}}node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
        <link rel="stylesheet" href="{{asset('bundles/app/admin/')}}css/style.css"/>
        <link rel="shortcut icon" href="{{asset('bundles/app/admin/')}}images/favicon.png"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('')}}bundles/app/admin/css/select2-bootstrap.css" />
        <style type="text/css">
            .form-control {
                display: block;
                width: 100%;
                padding: 0.5rem 0.75rem;
                font-size: 1rem;
                line-height: 1.25;
                color: #444;
                background-color: #fff;
                background-image: none;
                background-clip: padding-box;
                border: 1px solid rgb(25, 145, 235);
                /* border-radius: 0.25rem; */
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            }
            .control-label{
                color: #444;
                font-weight: bold;
            }
            .aic-show-large-modal{}
            .aic-show-modal{}
        </style>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class=" container-scroller">
        <!--Navbar-->
        <nav class="navbar bg-primary-gradient col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="#"><small>Fastway&reg;</small> CMS</a>
                <a class="navbar-brand brand-logo-mini" href="#"><small>CMS</small></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('myadmin_enquiry')}}"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{path('myadmin_logout')}}"><i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!--End navbar-->
        <div class="container-fluid">

            <div class="row row-offcanvas row-offcanvas-right">

                {% include 'admin/adminNav.html.twig' %}

                <!-- SIDEBAR ENDS -->
                <div class="content-wrapper">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}

                    {% block body %}
                    {% endblock %}
                </div>

                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="">
                            Hosted By: <a href="//www.delhiit.com" target="_blank">delhiit.com</a>, Developed By: Arash Info Corporation, Ludhiana. M: 9814790299 &copy; {{"now"|date('Y')}}
                        </span>
                    </div>
                </footer>
            </div>
        </div>

    </div>




    <!----- modal -->
    <div class="modal fade" id="aic-large-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>

                <div class="modal-body" id="aic-large-modal-window-body"></div>
            </div> 
        </div>

    </div>
    <div class="modal fade" id="aic-modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="vertical-alignment-helper">
                <div class="modal-content" id="aic-modal-window-body">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body" id="aic-modal-window-body"></div>
                </div>
            </div>                        
        </div>                
    </div>
    <!----- modal -->





    <!--script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script-->
    <script src="{{asset('bundles/app/admin/')}}node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{{asset('bundles/app/admin/')}}node_modules/tether/dist/js/tether.min.js"></script>
    <script src="{{asset('bundles/app/admin/')}}node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{asset('bundles/app/admin/')}}node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="{{asset('bundles/app/admin/')}}node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script-->
    <script src="{{asset('bundles/app/admin/')}}js/off-canvas.js"></script>
    <script src="{{asset('bundles/app/admin/')}}js/hoverable-collapse.js"></script>
    <script src="{{asset('bundles/app/admin/')}}js/misc.js"></script>
    <script src="{{asset('bundles/app/admin/')}}js/chart.js"></script>
    <script src="{{asset('bundles/app/admin/')}}js/maps.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        $('body').on("click", ".aic-show-large-modal", function (ev) {

            var url = $(this).data('href');
            jQuery.ajax({
                url: url,
                type: 'POST',
                cache: false,
                global: false,
                success: function (response) {
                    $('#aic-large-modal-window-body').html(response);
                    $('#aic-large-modal-window').modal('show');
                }
            });
        });

        $('body').on("click", ".aic-show-modal", function (ev) {

            var url = $(this).data('href');
            jQuery.ajax({
                url: url,
                type: 'POST',
                cache: false,
                global: false,

                success: function (response) {
                    $('#aic-modal-window-body').html(response);
                    $('#aic-modal-window').modal('show');
                }
            });
        });
        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });

    </script>

{% block javascripts %}{% endblock %}
</body>

</html>

{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}
