{% extends "baseAdmin.html.twig" %}

{% block body %}
    <h1>Photo Gallery <small>New</small></h1>
    <div class="col-sm-4">

        {{ form_start(form) }}
        <div class="col-sm-12">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="col-sm-12">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="col-sm-12">
            {{ form_label(form.fileData) }}
            {{ form_widget(form.fileData) }}
        </div>
        <div class="col-sm-12">
            {{ form_label(form.album) }}
            {{ form_widget(form.album,{'value':albumId}) }}
        </div>
        <div class="col-sm-12"><hr>
            <input type="submit" value="Upload" class="btn btn-info" />
        </div>
        {{ form_end(form) }}

        <hr>
        <div class="col-sm-12 pull-right">
            <a class="btn btn-sm btn-warning" href="{{ path('myadmin_photogallery_index',{'albumId':albumId}) }}">Back to the list</a>
        </div>
    </div>
{% endblock %}
