<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page Builder</title>
        <link rel="stylesheet" href="{{asset('bundles/app/MyNpm/')}}node_modules/grapesjs/dist/css/grapes.min.css">
        {#        <link rel="stylesheet" href="{{asset('bundles/app/fontawesome-free/')}}css/all.min.css">#}
        <script src="{{asset('bundles/app/MyNpm/')}}node_modules/grapesjs/dist/grapes.min.js"></script>

        <style>
            body,
            html {
                height: 100%;
                margin: 0;
            }
        </style>
    </head>

    <body>
        <div id="gjs" style="height:0px; overflow:hidden;">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

            {{ page.body|raw }}
            {#<div class="panel">
                <h1 class="welcome">Welcome to</h1>
                <div class="big-title">
                    <svg class="logo" viewBox="0 0 100 100">
                    <path d="M40 5l-12.9 7.4 -12.9 7.4c-1.4 0.8-2.7 2.3-3.7 3.9 -0.9 1.6-1.5 3.5-1.5 5.1v14.9 14.9c0 1.7 0.6 3.5 1.5 5.1 0.9 1.6 2.2 3.1 3.7 3.9l12.9 7.4 12.9 7.4c1.4 0.8 3.3 1.2 5.2 1.2 1.9 0 3.8-0.4 5.2-1.2l12.9-7.4 12.9-7.4c1.4-0.8 2.7-2.2 3.7-3.9 0.9-1.6 1.5-3.5 1.5-5.1v-14.9 -12.7c0-4.6-3.8-6-6.8-4.2l-28 16.2"/>
                    </svg>
                    <span>GrapesJS</span>
                </div>
                <div class="description">
                    This is a demo content from index.html. For the development, you shouldn't edit this file, instead you can
                    copy and rename it to _index.html, on next server start the new file will be served, and it will be ignored by git.
                </div>
            </div>#}
            <style>
                {{ page.css|raw }}
            </style>
        </div>
        <script src="{{asset('bundles/app/MyNpm/')}}node_modules/grapesjs-blocks-basic/dist/grapesjs-blocks-basic.min.js"></script>
        <script src="{{asset('bundles/app/MyNpm/')}}node_modules/grapesjs-style-gradient/dist/grapesjs-style-gradient.min.js"></script>
        <script src="{{asset('bundles/app/admin/')}}node_modules/jquery/dist/jquery.min.js"></script>
        <script src="{{asset('bundles/app/MyNpm/')}}node_modules/grapesjs-component-countdown/dist/grapesjs-component-countdown.min.js"></script>
        <script src="{{asset('bundles/app/MyNpm/')}}node_modules/grapesjs-typed/dist/grapesjs-typed.min.js"></script>
        <script src="{{asset('bundles/app/MyNpm/')}}node_modules/grapesjs-tabs/dist/grapesjs-tabs.min.js"></script>

        <script type="text/javascript">
            var imageAssets = JSON.parse('{{imageAssets|raw}}')
                    ;
            var editor = grapesjs.init({
                showOffsets: 1,
                noticeOnUnload: 0,
                assetManager: {
                    assets: imageAssets
                },
                container: '#gjs',
                height: '100%',
                fromElement: true,
                storageManager: {autoload: 0},
                blocks: ['form'],
                plugins: ['gjs-blocks-basic', 'grapesjs-tabs', 'grapesjs-typed', 'grapesjs-style-gradient', 'gjs-component-countdown'],
                pluginsOpts: {
                    'gjs-blocks-basic': {/* ...options */},
                    'grapesjs-style-gradient': {
                        colorPicker: 'default',
                    },
                    'gjs-component-countdown': {/* ...options */},
                    'grapesjs-typed': {/* options */},
                    'grapesjs-tabs': {
                        // options
                    }

                },
                styleManager: {
                    sectors: [{
                            name: 'General',
                            open: false,
                            buildProps: ['float', 'display', 'position', 'top', 'right', 'left', 'bottom']
                        }, {
                            name: 'Flex',
                            open: false,
                            buildProps: ['flex-direction', 'flex-wrap', 'justify-content', 'align-items', 'align-content', 'order', 'flex-basis', 'flex-grow', 'flex-shrink', 'align-self']
                        }, {
                            name: 'Dimension',
                            open: false,
                            buildProps: ['width', 'height', 'max-width', 'min-height', 'margin', 'padding'],
                        }, {
                            name: 'Typography',
                            open: false,
                            buildProps: ['font-family', 'font-size', 'font-weight', 'letter-spacing', 'color', 'line-height', 'text-shadow'],
                        }, {
                            name: 'Decorations',
                            open: false,
                            buildProps: ['border-radius-c', 'background-color', 'border-radius', 'border', 'box-shadow', 'background'],
                        }, {
                            name: 'Extra',
                            open: false,
                            buildProps: ['transition', 'perspective', 'transform'],
                        }
                    ],
                },
            });
            {% for b in blocks %}
                editor.BlockManager.add('{{ b.name }}', {
                    label: '{{ b.label }}',
                    attributes:{{ b.attributes|raw }} ,
                    content: `{{ b.content|raw }}`
                });
            {% endfor %}

                editor.BlockManager.add('grid2col', {
                    label: '2 Col Grid',
                    attributes: {class: 'fa fa-columns'},
                    content: `<div class="row"><div class="col-sm-6" style="min-height:15px"></div><div style="min-height:15px" class="col-sm-6"></div></div>`
                });
                editor.BlockManager.add('grid3col', {
                    label: '3 Col Grid',
                    attributes: {class: 'fa fa-columns'},
                    content: `<div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>`
                });
                editor.on('storage:store', function (e) {
                    saveContent(); //your method where you store html content of document in DB using ajax
                })
                function saveContent() {
                    var html = editor.getHtml();
                    var css = editor.getCss();
                    var link = '{{ path('myadmin_page_edit_grape_save',{'id':page.id}) }}';
                    $.post(link, {html: html, css: css})
                            .done(function (data) {
            {#                            alert("Data Loaded: " + data);#}
                            });
            {#                alert(css);#}
                }
        </script>
    </body>
</html>